* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Century Gothic';
	background-color: #1A1A1D;
  }



.header-container { 
	display: flex;
	justify-content: center;

}

.home {
	margin-left: auto; 
}
.logo img{
	width: 150px;
	clear: both; 
}

.header{ 
	width: 1200px;
	display: flex;
	margin-top: 20px; 
	
	justify-content: space-between;
	color: white; 
}

header a{ 
	text-decoration: none;
	padding: 5px 20px;
	border-radius: 3px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	color: white; 
}
header a:hover{
	background-color: #C3073F;
	color: #1A1A1D;
}
.header-active { 
	background-color: #C3073F;
	color: #1A1A1D;
}
h1, h2, h3, h4, h5, h6 {
	color: #C3073F;
}
p { 
	color:#e4e4e4;
}


.body-container { 
	display: flex; 
	justify-content: center;
}
.normal-body { 
	width: 1200px; 
}
/* ************** HOME PAGE *************** */ 
.title-container{
	display: flex; 
}
.title { 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block; 

	color: #C3073F;
	font-size: 4em; 
}
.button-container{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.btn{
	border: 1px solid #950740;
	padding: 10px 30px;
	color: #4E4E50;
	transition: 0.6s ease;
	text-decoration: none;
}

.btn:hover{
	background-color: #C3073F;
	color: #1A1A1D;	
}
